body{
    background: rgb(73, 167, 207);
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
/* .btn{
  color: rgb(10, 20, 20);  
  font-size:20px;
  padding: 15px;
  margin-top: 10px;
  width: 80px;
  border: 2px solid black;
  background-color: rgb(42, 89, 230);
  border-radius: 5px;
  margin-left: 150px;
  color: white;
  
  
  
  
} */


.todo{
    display: flex;
    flex-direction: column;
    padding: 20px;
    justify-content: center;
    background: rgb(221, 188, 155);
    border-radius: 1rem;
    height: 60%;
    width: 60%;
    align-items: center;
    box-shadow: 0 1rem 3rem 1rem  rgb(0, 23,71,0.15);
    
}
h2{
    text-transform: uppercase;
    color: black;
    height: 3rem;
    text-align: center;
}
input{
    display: flex;
   position: relative;
}
.input-filed{
    width: 400px;
    height: 30px;
    padding: 8px;
    border: 1px solid black;
    border-radius: 5px;
    font-size: 1rem;
    background-color: rgb(252, 252, 252);
    
}
ul{
    padding: 0;
    margin: 0;
    overflow: scroll;
}
li{
    display: flex;
    flex-direction: column;
    gap: 1.3rem;
    padding: 5px;
}
.counter{
  color: rgba(0, 0, 0, 0.568);
  width: 300PX;
  margin-top: 100px;
  
}
.counter-container{
    display: flex;
    padding: 10px;
    justify-content: space-between;
    color: rgb(6, 9, 9);

}
.counter-container p{
    font-size: 20px;

}
.counter-container button{
    border: none;
    background-color: transparent;
    color: rgb(11, 1, 1);
    font-size: 20px;
}
.footer{
    display: flex;
    gap: 1.8rem;
    background-color: azure;
    padding: 10px;
    border-radius: 10px;
    text-transform: uppercase;
    

}
.btn{
    margin-top: 50px;
    margin-left: 150px;
    height: 40px;
    width: 80px;
    background-color: #80C4E9;
    border-radius: 5px;
    font-weight: 700;
    color: rgb(0, 1, 2);
}